/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.fight-website-title {
  text-align: center;
  font-size: 4em;
  margin-bottom: 90px; }

.fight-website-title:hover {
  color: black; }

.fight-website-title li {
  display: inline-block;
  margin-right: 50px;
  font-family: Open Sans, Arial;
  font-weight: 300;
  color: #fff; }

.battle-title {
  font-family: cursive;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 30px; }

.whose-character-player {
  color: purple;
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  margin-bottom: -40px; }

.whose-character-cpu {
  color: purple;
  text-align: right;
  font-size: 2em;
  font-weight: bold;
  font-style: italic; }

.fight-screen {
  border: 3px solid black;
  background-color: #ffc0cb;
  max-width: 1000px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  overflow: auto; }

.player-sprite {
  margin-top: 70px;
  margin-left: 10%;
  float: left; }

.cpu-sprite {
  margin-top: 90px;
  margin-right: 20%;
  float: right; }

.player-identifier {
  color: green;
  font-size: 2em;
  font-weight: bold;
  font-style: italic; }

.cpu-identifier {
  color: green;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  text-align: right;
  margin-top: -30px; }

.fight-title {
  margin-left: 38%;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
  display: inline-block; }

.fight-title:hover {
  color: red; }

.player-bubble-show {
  text-align: center;
  line-height: 3em;
  float: left;
  margin-top: 80px;
  display: inline-block;
  position: relative;
  width: 250px;
  height: 55px;
  padding: 0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb83fa+15,e93cec+54 */
  background: #fb83fa;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fb83fa 15%, #e93cec 54%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fb83fa 15%, #e93cec 54%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fb83fa 15%, #e93cec 54%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb83fa', endColorstr='#e93cec',GradientType=0 );
  /* IE6-9 */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.player-bubble-show:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 13px 30px 13px 0;
  border-color: transparent #fb83fa;
  display: block;
  width: 0;
  z-index: 1;
  left: -30px;
  top: 14px; }

.cpu-bubble-show {
  text-align: center;
  line-height: 2em;
  float: right;
  margin-top: 90px;
  display: inline-block;
  position: relative;
  width: 180px;
  height: 75px;
  padding: 0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e696+18,d1d360+47 */
  background: #e5e696;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e5e696 18%, #d1d360 47%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e5e696 18%, #d1d360 47%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e5e696 18%, #d1d360 47%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#d1d360',GradientType=0 );
  /* IE6-9 */
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px; }

.cpu-bubble-show:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 13px 0 13px 30px;
  border-color: transparent #e5e696;
  display: block;
  width: 0;
  z-index: 1;
  right: -30px;
  top: 14px; }

.miss-bubble-show {
  text-align: center;
  line-height: 2em;
  margin-top: -100px;
  margin-left: 80%;
  display: inline-block;
  position: relative;
  width: 165px;
  height: 55px;
  padding: 0px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.miss-bubble-show:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 30px 15px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -30px;
  top: 12px; }

.player-bubble-hide {
  text-align: center;
  line-height: 3em;
  float: left;
  margin-top: 80px;
  display: none;
  position: relative;
  width: 250px;
  height: 55px;
  padding: 0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb83fa+15,e93cec+54 */
  background: #fb83fa;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fb83fa 15%, #e93cec 54%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fb83fa 15%, #e93cec 54%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fb83fa 15%, #e93cec 54%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb83fa', endColorstr='#e93cec',GradientType=0 );
  /* IE6-9 */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.player-bubble-hide:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 13px 30px 13px 0;
  border-color: transparent #fb83fa;
  display: none;
  width: 0;
  z-index: 1;
  left: -30px;
  top: 14px; }

.cpu-bubble-hide {
  text-align: center;
  line-height: 2em;
  float: right;
  margin-top: 90px;
  display: none;
  position: relative;
  width: 180px;
  height: 75px;
  padding: 0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e696+18,d1d360+47 */
  background: #e5e696;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e5e696 18%, #d1d360 47%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e5e696 18%, #d1d360 47%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e5e696 18%, #d1d360 47%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#d1d360',GradientType=0 );
  /* IE6-9 */
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px; }

.cpu-bubble-hide:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 13px 0 13px 30px;
  border-color: transparent #e5e696;
  display: none;
  width: 0;
  z-index: 1;
  right: -30px;
  top: 14px; }

.miss-bubble-hide {
  text-align: center;
  line-height: 2em;
  float: right;
  margin-top: 60px;
  display: none;
  position: relative;
  width: 165px;
  height: 55px;
  padding: 0px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.miss-bubble-hide:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 30px 15px 0;
  border-color: transparent #FFFFFF;
  display: none;
  width: 0;
  z-index: 1;
  left: -30px;
  top: 12px; }

.player-stats-and-moves {
  position: absolute;
  bottom: 10px;
  left: 50px; }

.player-stats-and-moves p {
  font-size: 3em;
  font-weight: bold; }

.input-hide {
  display: none; }

.input-show {
  display: block; }

.move-list {
  display: inline-block;
  background-color: white;
  margin-left: 5%;
  width: 30%;
  text-align: center; }

.move-list-title {
  text-decoration: underline;
  font-style: oblique;
  font-family: Lucida, serif;
  font-size: 1.3em; }

.healthyHP {
  color: green; }

.warningHP {
  font-size: 3em;
  color: orange;
  font-weight: bold; }

.dangerHP {
  font-size: 3em;
  color: red;
  font-weight: bold; }

.player-stats-and-moves input {
  padding: 10px; }

.cpu-stats-and-moves {
  position: absolute;
  bottom: 50px;
  right: 80px; }

.cpu-stats-and-moves p {
  text-align: center;
  font-size: 3em;
  font-weight: bold; }

.link-text {
  font-size: 1.4em;
  font-family: cursive;
  text-decoration: none;
  color: black;
  margin-left: 38%; }

.link-text:hover {
  color: white; }

.rematch {
  font-size: 1.4em;
  font-family: cursive;
  text-align: center;
  margin-top: 20px;
  text-decoration: none; }

.rematch:hover {
  color: red; }

.progress-link {
  font-size: 4em;
  color: white;
  font-family: cursive;
  display: block; }

.container {
  max-width: 1080px;
  margin: 80px auto;
  background-color: red;
  padding-top: 40px;
  padding-bottom: 50px; }

.website-title {
  font-size: 4em;
  font-weight: bold;
  font-family: fantasy;
  text-align: center; }

.index-tagline {
  font-size: 1.4em;
  font-family: cursive;
  text-align: center;
  margin-bottom: 30px; }

.fly-in-text li {
  display: inline-block;
  margin-right: 50px;
  font-family: Open Sans, Arial;
  font-weight: 300;
  color: #fff;
  opacity: 1;
  transition: all 2.5s ease; }

.fly-in-text li:last-child {
  margin-right: 0; }

.fly-in-text.hidden li {
  opacity: 0; }

.fly-in-text.hidden li:nth-child(1) {
  transform: translateX(-200px) translateY(-200px); }

.fly-in-text.hidden li:nth-child(2) {
  transform: translateX(20px) translateY(100px); }

.fly-in-text.hidden li:nth-child(3) {
  transform: translateX(-150px) translateY(-80px); }

.fly-in-text.hidden li:nth-child(4) {
  transform: translateX(10px) translateY(-200px); }

.fly-in-text.hidden li:nth-child(5) {
  transform: translateX(-300px) translateY(200px); }

.fly-in-text.hidden li:nth-child(6) {
  transform: translateX(20px) translateY(-20px); }

.fly-in-text.hidden li:nth-child(7) {
  transform: translateX(30px) translateY(200px); }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fade li {
  display: inline-block;
  margin-right: 15px;
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-duration: 4s; }

.fade li:last-child {
  margin-right: 0; }

.fade li:nth-child(1) {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s; }

.fade li:nth-child(2) {
  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
  animation-delay: 5.5s; }

.fade li:nth-child(3) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s; }

.fade li:nth-child(4) {
  -webkit-animation-delay: 6.5s;
  -moz-animation-delay: 6.5s;
  animation-delay: 6.5s; }

.fade li:nth-child(5) {
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  animation-delay: 7s; }

.fade li:nth-child(6) {
  -webkit-animation-delay: 7.5s;
  -moz-animation-delay: 7.5s;
  animation-delay: 7.5s; }

.fade li:nth-child(7) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s; }

.fade li:nth-child(8) {
  -webkit-animation-delay: 8.5s;
  -moz-animation-delay: 8.5s;
  animation-delay: 8.5s; }

.kapowDiv {
  overflow: auto; }

.kapow1 {
  float: left; }

.kapow2 {
  float: right; }

.hide-image {
  opacity: 0; }

.fade-in-image {
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-duration: 4s; }

#google-signin {
  max-width: 100%;
  margin-left: 44%;
  margin-top: -5px; }

#or-Divider {
  position: relative;
  z-index: 1;
  margin-bottom: 16px;
  align-self: center;
  text-align: center !important; }

#or-Divider::before {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }

.or-text {
  font-size: 1.3em;
  line-height: 1.6; }

#just-play {
  margin-left: 40%;
  padding: 15px;
  background-color: #ffc0cb;
  color: red;
  border: 4px solid white;
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif; }

.progress-title {
  font-family: cursive;
  margin-top: 120px;
  color: white; }

.progress-tagline {
  font-size: 1.2em;
  font-family: cursive;
  text-align: center;
  margin-top: 20px; }

#stats-heading {
  text-decoration: underline;
  text-align: center;
  font-size: 1.5em;
  margin-top: 50px;
  margin-bottom: 20px; }

#stats-table {
  width: 40%;
  border-collapse: collapse;
  margin: 0 auto; }

tr:nth-of-type(odd) {
  background-color: red;
  color: red; }

tr:nth-of-type(even) {
  background-color: white;
  color: red; }

#HeadRow {
  background-color: black;
  font-weight: bold;
  text-decoration: underline; }

#stats-table {
  margin-bottom: 50px; }

#stats-table td {
  padding: 5px;
  border: 1px solid black;
  text-align: center; }

.back {
  margin-left: 38%;
  padding: 15px;
  background-color: #ffc0cb;
  color: red;
  border: 4px solid white;
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif; }

.homepage-link {
  margin-left: 38%;
  padding: 15px;
  background-color: #ffc0cb;
  color: red;
  border: 4px solid white;
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif; }

body {
  background-color: #000; }

.character-select-title {
  font-family: monospace; }

.character-select {
  overflow: auto; }

.player-select {
  border: 1px solid blue;
  padding: 80px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  float: left; }

.cpu-select {
  border: 1px solid red;
  padding: 80px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  float: right; }

.sample-sprite {
  max-width: 100px;
  margin-left: 30%; }

.character-name {
  color: purple;
  font-size: 1.8em;
  font-weight: bold;
  font-family: Didot;
  text-align: center; }

.attack-command {
  font-weight: bold; }

.super-move-description {
  text-align: center;
  font-size: .9em; }

.cpu-difficulty-form {
  text-align: center;
  margin-bottom: 10px; }

/*# sourceMappingURL=style.css.map*/