.battle-title {
	font-family: Brush Script MT;
}


.fight-screen {
	border: 3px solid black;
  background-color: lightblue;
	// background-position: center center;
	max-width: 1000px;
	height: 500px;
	margin-bottom: 30px;
	margin-top: 30px;
	position: relative;
	overflow: auto;
}

.player-sprite {
	margin-top: 90px;
	margin-left: 10%;
	float: left;
}

.cpu-sprite {
	margin-top: 90px;
	margin-right: 10%;
	float: right;
}

.player-identifier {
	color: green;
	font-size: 2em;
	font-weight: bold;
	font-style: italic;

}

.cpu-identifier {
	color: green;
	font-size: 2em;
	font-weight: bold;
	font-style: italic;
	text-align: right;
	margin-top: -30px;
}

.fight-title {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.player-bubble {
	text-align: center;
	line-height:  2em;
	position: relative;
	margin-top: 10px;
	width: 240px;
	height: 40px;
	padding: 0px;
	color: #FFFFFF;
	display: inline-block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9a1e5e+0,d82a92+19,ca2083+51,e87ebf+93 */
	background: #9a1e5e; /* Old browsers */
	background: -moz-linear-gradient(top,  #9a1e5e 0%, #d82a92 19%, #ca2083 51%, #e87ebf 93%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #9a1e5e 0%,#d82a92 19%,#ca2083 51%,#e87ebf 93%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #9a1e5e 0%,#d82a92 19%,#ca2083 51%,#e87ebf 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a1e5e', endColorstr='#e87ebf',GradientType=0 ); /* IE6-9 */

}

.player-bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 9px 34px 9px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	left: -34px;
	top: 11px;
}

.player-bubble:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 12px 37px 12px 0;
	border-color: transparent #9a1e5e;
	display: block;
	width: 0;
	z-index: 0;
	left: -41px;
	top: 8px;
}

.cpu-bubble
{
	text-align: center;
	line-height: 2em;
	float: right;
	margin-top: 80px;
	display: inline-block;
position: relative;
width: 180px;
height: 75px;
padding: 0px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e696+18,d1d360+47 */
background: #e5e696; /* Old browsers */
background: -moz-linear-gradient(top,  #e5e696 18%, #d1d360 47%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e5e696 18%,#d1d360 47%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e5e696 18%,#d1d360 47%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#d1d360',GradientType=0 ); /* IE6-9 */

-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
}

.cpu-bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 13px 0 13px 30px;
border-color: transparent #e5e696;
display: block;
width: 0;
z-index: 1;
right: -30px;
top: 14px;
}



.player-stats-and-moves {
	position: absolute;
	bottom: 50px;
	left: 50px;
}

.player-stats-and-moves p {
	font-size: 3em;
	color: green;
	font-weight: bold;

}

.cautionHP {
	font-size: 3em;
	color: orange;
	font-weight: bold;
}

.dangerHP {
	font-size: 3em;
	color: red;
	font-weight: bold;

}

.player-stats-and-moves input{
	padding: 10px;
}

.cpu-stats-and-moves {
	position: absolute;
	bottom: 50px;
	right: 80px;
}

.cpu-stats-and-moves p {
	text-align: center;
	font-size: 3em;
	color: #ff6347;
	font-weight: bold;
}
