

.fight-website-title {
	text-align: center;
	font-size: 4em;
	margin-bottom: 90px;
}

.fight-website-title:hover {
	color: black;
}

.fight-website-title li {
	display: inline-block;
	margin-right: 50px;
	font-family: Open Sans, Arial;
	font-weight: 300;
	color: #fff;

}

.fight-screen {
	border: 3px solid black;

	//peach background
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#febbbb+0,ff5c5c+20,fe9090+55,ff5c5c+70,ff5c5c+84,ff5c5c+90,ff5c5c+100 */
	background: #febbbb; /* Old browsers */
	background: -moz-linear-gradient(left,  #febbbb 0%, #ff5c5c 20%, #fe9090 55%, #ff5c5c 70%, #ff5c5c 84%, #ff5c5c 90%, #ff5c5c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #febbbb 0%,#ff5c5c 20%,#fe9090 55%,#ff5c5c 70%,#ff5c5c 84%,#ff5c5c 90%,#ff5c5c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #febbbb 0%,#ff5c5c 20%,#fe9090 55%,#ff5c5c 70%,#ff5c5c 84%,#ff5c5c 90%,#ff5c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=1 ); /* IE6-9 */




}



// /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efc5ca+0,ba2737+28,d24b5a+33,d24b5a+79,d24b5a+88,f18e99+100 */
// background: #efc5ca; /* Old browsers */
// background: -moz-linear-gradient(left,  #efc5ca 0%, #ba2737 28%, #d24b5a 33%, #d24b5a 79%, #d24b5a 88%, #f18e99 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(left,  #efc5ca 0%,#ba2737 28%,#d24b5a 33%,#d24b5a 79%,#d24b5a 88%,#f18e99 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to right,  #efc5ca 0%,#ba2737 28%,#d24b5a 33%,#d24b5a 79%,#d24b5a 88%,#f18e99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=1 ); /* IE6-9 */


.fight-title {
	margin-bottom: 10px;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.fight-title:hover {
	color: red;
}

.link-text {
	font-size: 1.4em;
	font-family:cursive;
	text-decoration: none;
	color: black;
	text-align: center;
}

.link-text:hover {
	color: white;
}
.rematch {
	font-size: 1.4em;
	font-family:cursive;
	text-align: center;
	margin-top: 10px;
	text-decoration: none;
}

.rematch:hover {
	color: red;
}

.whose-character-player {
  color: purple;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
	text-align: center;
}

.whose-character-cpu {
	color: yellow;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
}

#difficulty {
	border-radius: 20px;
	padding: 5px;
	background-color: black;
	color: white;
	margin-left: 10%;
	font-size: 1em;
}

.player-sprite {
}

.cpu-sprite {
}

.player-bubble-hide
{
	display: none;
}

.player-bubble-hide:after
{
	display: none;
}


.player-bubble-show
{
	font-size: 1.2em;
	text-align: center;
	// line-height: 3em;
	position: relative;
	width: 175px;
	height: 55px;
	padding: 0px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb83fa+15,e93cec+54 */
	background: #fb83fa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fb83fa 15%, #e93cec 54%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fb83fa 15%,#e93cec 54%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fb83fa 15%,#e93cec 54%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb83fa', endColorstr='#e93cec',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.player-bubble-show:after
{
	border-color: transparent #fb83fa;
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 0 15px 31px;
	display: block;
	width: 0;
	z-index: 1;
	right: -31px;
	top: 15px;
}


.cpu-bubble-hide
{
	display: none;
}

.cpu-bubble-hide:after
{
	display: none;
}

.cpu-bubble-show
{
	font-size: 1.3em;
	text-align: center;
	line-height: 2em;
	position: relative;
	width: 280px;
	height: 75px;
	padding: 0px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e696+18,d1d360+47 */
	background: #e5e696; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5e696 18%, #d1d360 47%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e5e696 18%,#d1d360 47%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e5e696 18%,#d1d360 47%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#d1d360',GradientType=0 ); /* IE6-9 */

	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

.cpu-bubble-show:after
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 13px 0 13px 30px;
	border-color: transparent #e5e696;
	display: block;
	width: 0;
	z-index: 1;
	right: -30px;
	top: 14px;
}

.miss-bubble-show
{
	text-align: center;
	line-height: 2em;
	position: relative;
	width: 145px;
	height: 55px;
	padding: 0px;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.miss-bubble-show:after
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 30px 15px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	left: -30px;
	top: 12px;
}





.miss-bubble-hide
{
	text-align: center;
	line-height: 2em;
	// float: right;
	// margin-top: 60px;
	// margin-left: 1.%;
	display: none;
	position: relative;
	width: 165px;
	height: 55px;
	padding: 0px;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.miss-bubble-hide:after
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 30px 15px 0;
	border-color: transparent #FFFFFF;
	display: none;
	width: 0;
	z-index: 1;
	left: -30px;
	top: 12px;
}

.healthyHP {
	color: green;
	font-size: 3em;
	font-weight: bold;
}

.warningHP {
	font-size: 3em;
	color: orange;
	font-weight: bold;
}

.dangerHP {
	font-size: 3em;
	color: red;
	font-weight: bold;
}

.input-instructions {
	font-size: 1.5em;
	color: red;
	font-family: TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif;
	text-align: center;
	font-weight: bold;
}

input[type='text'] {
	font-size: 1.1em;
}

.input-hide {
	display: none;
}

.input-show {
	display: block;

}



.move-list-title {
	background-color: white;
	text-align: center;
	text-decoration: underline;
	font-style: oblique;
	font-family: Lucida, serif;
	font-size: 1.4em;
}

.heal-instructions {
	text-decoration: none;
	font-weight: bold;
	font-family: "Lucida Sans Typewriter","Lucida Console",monaco,"Bitstream Vera Sans Mono",monospace;
}

.move-list-items {
	background-color: white;
	text-align: center;
	font-size: 1.2em;
}
