.container {
  margin: 80px;
  background-color: red;
  padding-top: 40px;
  padding-bottom: 50px;
}

#userPic {
  border-radius: 50%;
  height: 40px;
  outline: 0;
  width: 40px;
}

.click-to-fight {
  max-width: 100%;
}

.hidden-image {
  opacity: 0;
}

.website-title {
  font-size: 4em;
  font-weight: bold;
  font-family: fantasy;
  text-align: center;
}

.website-title:hover {
  color: black;
}

.index-tagline {
  font-size: 1.4em;
  font-family:cursive;
  text-align: center;
  margin-bottom: 30px;
}

.fly-in-text {
  padding-bottom: 10px;
}

.fly-in-text:hover {
  color: black;
}

.fly-in-text li {
    display: inline-block;
    margin-right: 50px;
    font-family: Open Sans, Arial;
    font-weight: 300;
    color: #fff;
    opacity: 1;
    transition: all 3.5s ease;
}

.fly-in-text.hidden li {
  opacity: 1;
}

.fly-in-text li:last-child {
    margin-right: 0;
}
.fly-in-text.hidden li {
    opacity: 0;
}
.fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade {
  padding-bottom: 10px;
}

.fade li {
  display: inline-block;
  margin-right: 15px;
  opacity:0;  /* make things invisible upon start */
   -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
   -moz-animation:fadeIn ease-in 1;
   animation:fadeIn ease-in 1;

   -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
   -moz-animation-fill-mode:forwards;
   animation-fill-mode:forwards;

   -webkit-animation-duration: 8s;
   -moz-animation-duration: 8s;
   animation-duration: 8s;
}

.fade li:last-child {
  margin-right: 0;
}

.fade li:nth-child(1) {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
}
.fade li:nth-child(2) {
  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
  animation-delay: 5.5s;
}
.fade li:nth-child(3) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
}
.fade li:nth-child(4) {
  -webkit-animation-delay: 6.5s;
  -moz-animation-delay: 6.5s;
  animation-delay: 6.5s;
}
.fade li:nth-child(5) {
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  animation-delay: 7s;
}
.fade li:nth-child(6) {
  -webkit-animation-delay: 7.5s;
  -moz-animation-delay: 7.5s;
  animation-delay: 7.5s;
}
.fade li:nth-child(7) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay:8s;
}
.fade li:nth-child(8) {
  -webkit-animation-delay: 8.5s;
  -moz-animation-delay: 8.5s;
  animation-delay: 8.5s;
}

.kapow {
  opacity: 1;
  transition: opacity 2.5s ease-out;
  max-width: 100%;
  height: auto;

}

.crash {
  transition: opacity 2.5s ease-out;
  max-width: 100%;
  height: auto;
  opacity: 1;

}

.bloop {
  transition: opacity 2.5s ease-out;
  max-width: 100%;
  height: auto;
  opacity: 1;

}

.vronk {
  transition: opacity 2.5s ease-out;
  max-width: 100%;
  height: auto;
  opacity: 1;

}

.old-batman-effects-hide {
  opacity: 0;
}


#google-signin {
  max-width: 100%;

}

.google-signout button {
  height:36px;
  width:120px;
}

.hide-button {
  display: none;
}
