@import 'reset';
@import 'fight';
@import 'index';
@import 'progress';

body {
    background-color: #000;
}

.character-select-title {
  font-family: monospace;
}

.character-select {
  overflow: auto;
}

.player-select {
  border: 1px solid blue;
  padding: 80px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  float: left;
}

.cpu-select {
  border: 1px solid red;
  padding: 80px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  float: right;
}



.sample-sprite {
  max-width: 100px;
  margin-left: 30%;
}

.character-name {
	color: purple;
	font-size: 1.8em;
	font-weight: bold;
	font-family: Didot;
	text-align: center;
}


.attack-command {
	font-weight: bold;
}

.super-move-description {
	text-align: center;
	font-size: .9em;
}

.cpu-difficulty-form {
	text-align: center;
	margin-bottom: 10px;
}


// @media screen and (max-width: 800px) {
//   #stats-table, #stats-table tbody, #stats-table tr, #stats-table td{
//     display: block;
//   }
//
//   #HeadRow {
//     position: absolute;
//     left: -9999px;
//     top: -9999px;
//   }
//
//   #stats-table td {
//     border: none;
//     position: relative;
//     padding-left: 40%;
//     white-space: normal;
//     text-align: left;
//   }
//
//   #stats-table td::before {
//     position: absolute;
//     top: 5px;
//     left: 5px;
//     width: 40%;
//     padding-right: 10px;
//     white-space: nowrap;
//     text-align: left;
//     font-weight: bold;
//     content: attr(tableHeadData);
//
//   }
// }
